[Desktop Entry]
Categories=Utility;HardwareSettings;
Comment=Control LCD screens on AIO liquid coolers
Exec=/home/asheriif/code/CoolCooler/target/debug/coolcooler-gui
Icon=coolcooler
Name=CoolCooler
NoDisplay=false
Path=/home/asheriif/code/CoolCooler/target/debug/
PrefersNonDefaultGPU=false
StartupNotify=false
StartupWMClass=coolcooler
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
